/* [project]/apps/web/src/features/editor-tiptap/node/blockquote-node/blockquote-node.scss.css [app-client] (css) */
.tiptap.ProseMirror {
  --blockquote-bg-color: var(--tt-gray-light-900);
}

.dark .tiptap.ProseMirror {
  --blockquote-bg-color: var(--tt-gray-dark-900);
}

.tiptap.ProseMirror blockquote {
  margin: 1.5rem 0;
  padding-top: .375em;
  padding-bottom: .375em;
  padding-left: 1em;
  position: relative;
}

.tiptap.ProseMirror blockquote p {
  margin-top: 0;
}

.tiptap.ProseMirror blockquote:before, .tiptap.ProseMirror blockquote.is-empty:before {
  background-color: var(--blockquote-bg-color);
  content: "";
  border-radius: 0;
  width: .25em;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

/* [project]/apps/web/src/features/editor-tiptap/node/code-block-node/code-block-node.scss.css [app-client] (css) */
.tiptap.ProseMirror {
  --tt-inline-code-bg-color: var(--tt-gray-light-a-100);
  --tt-inline-code-text-color: var(--tt-gray-light-a-700);
  --tt-inline-code-border-color: var(--tt-gray-light-a-200);
  --tt-codeblock-bg: var(--tt-gray-light-a-50);
  --tt-codeblock-text: var(--tt-gray-light-a-800);
  --tt-codeblock-border: var(--tt-gray-light-a-200);
}

.dark .tiptap.ProseMirror {
  --tt-inline-code-bg-color: var(--tt-gray-dark-a-100);
  --tt-inline-code-text-color: var(--tt-gray-dark-a-700);
  --tt-inline-code-border-color: var(--tt-gray-dark-a-200);
  --tt-codeblock-bg: var(--tt-gray-dark-a-50);
  --tt-codeblock-text: var(--tt-gray-dark-a-800);
  --tt-codeblock-border: var(--tt-gray-dark-a-200);
}

.tiptap.ProseMirror code {
  background-color: var(--tt-inline-code-bg-color);
  color: var(--tt-inline-code-text-color);
  border: 1px solid var(--tt-inline-code-border-color);
  border-radius: 6px / .375rem;
  padding: .1em .2em;
  font-family: JetBrains Mono NL, monospace;
  font-size: .875em;
  line-height: 1.4;
}

.tiptap.ProseMirror pre {
  background-color: var(--tt-codeblock-bg);
  color: var(--tt-codeblock-text);
  border: 1px solid var(--tt-codeblock-border);
  border-radius: 6px / .375rem;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 1em;
  font-size: 1rem;
}

.tiptap.ProseMirror pre code {
  -webkit-text-fill-color: inherit;
  color: inherit;
  background-color: #0000;
  border: none;
  border-radius: 0;
}

/* [project]/apps/web/src/features/editor-tiptap/node/horizontal-rule-node/horizontal-rule-node.scss.css [app-client] (css) */
.tiptap.ProseMirror {
  --horizontal-rule-color: var(--tt-gray-light-a-200);
}

.dark .tiptap.ProseMirror {
  --horizontal-rule-color: var(--tt-gray-dark-a-200);
}

.tiptap.ProseMirror hr {
  background-color: var(--horizontal-rule-color);
  border: none;
  height: 1px;
}

.tiptap.ProseMirror [data-type="horizontalRule"] {
  margin-top: 2.25em;
  margin-bottom: 2.25em;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

/* [project]/apps/web/src/features/editor-tiptap/node/list-node/list-node.scss.css [app-client] (css) */
.tiptap.ProseMirror {
  --tt-checklist-bg-color: var(--tt-gray-light-a-100);
  --tt-checklist-bg-active-color: var(--tt-gray-light-a-900);
  --tt-checklist-border-color: var(--tt-gray-light-a-200);
  --tt-checklist-border-active-color: var(--tt-gray-light-a-900);
  --tt-checklist-check-icon-color: var(--white);
  --tt-checklist-text-active: var(--tt-gray-light-a-500);
}

.dark .tiptap.ProseMirror {
  --tt-checklist-bg-color: var(--tt-gray-dark-a-100);
  --tt-checklist-bg-active-color: var(--tt-gray-dark-a-900);
  --tt-checklist-border-color: var(--tt-gray-dark-a-200);
  --tt-checklist-border-active-color: var(--tt-gray-dark-a-900);
  --tt-checklist-check-icon-color: var(--black);
  --tt-checklist-text-active: var(--tt-gray-dark-a-500);
}

.tiptap.ProseMirror ol, .tiptap.ProseMirror ul {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 1.5em;
}

.tiptap.ProseMirror ol:first-child, .tiptap.ProseMirror ul:first-child {
  margin-top: 0;
}

.tiptap.ProseMirror ol:last-child, .tiptap.ProseMirror ul:last-child {
  margin-bottom: 0;
}

.tiptap.ProseMirror ol ol, .tiptap.ProseMirror ol ul, .tiptap.ProseMirror ul ol, .tiptap.ProseMirror ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.tiptap.ProseMirror li p {
  margin-top: 0;
  line-height: 1.6;
}

.tiptap.ProseMirror ol {
  list-style: decimal;
}

.tiptap.ProseMirror ol ol {
  list-style: lower-alpha;
}

.tiptap.ProseMirror ol ol ol {
  list-style: lower-roman;
}

.tiptap.ProseMirror ul:not([data-type="taskList"]) {
  list-style: outside;
}

.tiptap.ProseMirror ul:not([data-type="taskList"]) ul {
  list-style: circle;
}

.tiptap.ProseMirror ul:not([data-type="taskList"]) ul ul {
  list-style: square;
}

.tiptap.ProseMirror ul[data-type="taskList"] {
  padding-left: .25em;
}

.tiptap.ProseMirror ul[data-type="taskList"] li {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.tiptap.ProseMirror ul[data-type="taskList"] li:not(:has( > p:first-child)) {
  list-style-type: none;
}

.tiptap.ProseMirror ul[data-type="taskList"] li[data-checked="true"] > div > p {
  opacity: .5;
  text-decoration: line-through;
}

.tiptap.ProseMirror ul[data-type="taskList"] li[data-checked="true"] > div > p span {
  text-decoration: line-through;
}

.tiptap.ProseMirror ul[data-type="taskList"] li label {
  padding-top: .375rem;
  padding-right: .5rem;
  position: relative;
}

.tiptap.ProseMirror ul[data-type="taskList"] li label input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.tiptap.ProseMirror ul[data-type="taskList"] li label span {
  border: 1px solid var(--tt-checklist-border-color);
  border-radius: var(--tt-radius-xs, .25rem);
  cursor: pointer;
  background-color: var(--tt-checklist-bg-color);
  width: 1em;
  height: 1em;
  transition: background-color 80ms ease-out, border-color 80ms ease-out;
  display: block;
  position: relative;
}

.tiptap.ProseMirror ul[data-type="taskList"] li label span:before {
  content: "";
  background-color: var(--tt-checklist-check-icon-color);
  opacity: 0;
  width: .75em;
  height: .75em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-mask: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22currentColor%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M21.4142%204.58579C22.1953%205.36683%2022.1953%206.63317%2021.4142%207.41421L10.4142%2018.4142C9.63317%2019.1953%208.36684%2019.1953%207.58579%2018.4142L2.58579%2013.4142C1.80474%2012.6332%201.80474%2011.3668%202.58579%2010.5858C3.36683%209.80474%204.63317%209.80474%205.41421%2010.5858L9%2014.1716L18.5858%204.58579C19.3668%203.80474%2020.6332%203.80474%2021.4142%204.58579Z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E") center / contain no-repeat;
  mask: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22currentColor%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M21.4142%204.58579C22.1953%205.36683%2022.1953%206.63317%2021.4142%207.41421L10.4142%2018.4142C9.63317%2019.1953%208.36684%2019.1953%207.58579%2018.4142L2.58579%2013.4142C1.80474%2012.6332%201.80474%2011.3668%202.58579%2010.5858C3.36683%209.80474%204.63317%209.80474%205.41421%2010.5858L9%2014.1716L18.5858%204.58579C19.3668%203.80474%2020.6332%203.80474%2021.4142%204.58579Z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E") center / contain no-repeat;
}

.tiptap.ProseMirror ul[data-type="taskList"] li label input[type="checkbox"]:checked + span {
  background: var(--tt-checklist-bg-active-color);
  border-color: var(--tt-checklist-border-active-color);
}

.tiptap.ProseMirror ul[data-type="taskList"] li label input[type="checkbox"]:checked + span:before {
  opacity: 1;
}

.tiptap.ProseMirror ul[data-type="taskList"] li div {
  flex: 1;
  min-width: 0;
}

/* [project]/apps/web/src/features/editor-tiptap/node/heading-node/heading-node.scss.css [app-client] (css) */
.tiptap.ProseMirror h1, .tiptap.ProseMirror h2, .tiptap.ProseMirror h3, .tiptap.ProseMirror h4 {
  color: inherit;
  font-style: inherit;
  position: relative;
}

.tiptap.ProseMirror h1:first-child, .tiptap.ProseMirror h1:first-of-type, .tiptap.ProseMirror h2:first-child, .tiptap.ProseMirror h2:first-of-type, .tiptap.ProseMirror h3:first-child, .tiptap.ProseMirror h3:first-of-type, .tiptap.ProseMirror h4:first-child, .tiptap.ProseMirror h4:first-of-type {
  margin-top: 0;
}

.tiptap.ProseMirror h1 {
  margin-top: 3em;
  font-size: 1.5em;
  font-weight: 700;
}

.tiptap.ProseMirror h2 {
  margin-top: 2.5em;
  font-size: 1.25em;
  font-weight: 700;
}

.tiptap.ProseMirror h3 {
  margin-top: 2em;
  font-size: 1.125em;
  font-weight: 600;
}

.tiptap.ProseMirror h4 {
  margin-top: 2em;
  font-size: 1em;
  font-weight: 600;
}

/* [project]/apps/web/src/features/editor-tiptap/node/paragraph-node/paragraph-node.scss.css [app-client] (css) */
.tiptap.ProseMirror {
  --tt-collaboration-carets-label: var(--tt-gray-light-900);
  --link-text-color: var(--tt-brand-color-500);
  --thread-text: var(--tt-gray-light-900);
  --placeholder-color: var(--tt-gray-light-a-400);
  --thread-bg-color: var(--tt-color-yellow-inc-2);
  --tiptap-ai-insertion-color: var(--tt-brand-color-600);
}

.dark .tiptap.ProseMirror {
  --tt-collaboration-carets-label: var(--tt-gray-dark-100);
  --link-text-color: var(--tt-brand-color-400);
  --thread-text: var(--tt-gray-dark-900);
  --placeholder-color: var(--tt-gray-dark-a-400);
  --thread-bg-color: var(--tt-color-yellow-dec-2);
  --tiptap-ai-insertion-color: var(--tt-brand-color-400);
}

.tiptap.ProseMirror > * {
  position: relative;
}

.tiptap.ProseMirror {
  white-space: pre-wrap;
  caret-color: var(--tt-cursor-color);
  outline: none;
}

.tiptap.ProseMirror p:not(:first-child):not(td p):not(th p) {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.6;
}

.tiptap.ProseMirror:not(.readonly):not(.ProseMirror-hideselection) ::selection {
  background-color: var(--tt-selection-color);
}

.tiptap.ProseMirror:not(.readonly):not(.ProseMirror-hideselection) .selection::selection {
  background: none;
}

.tiptap.ProseMirror .selection {
  background-color: var(--tt-selection-color);
  display: inline;
}

.tiptap.ProseMirror .ProseMirror-selectednode:not(img):not(pre):not(.react-renderer) {
  border-radius: var(--tt-radius-md);
  background-color: var(--tt-selection-color);
}

.tiptap.ProseMirror .ProseMirror-hideselection {
  caret-color: #0000;
}

.tiptap.ProseMirror.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.tiptap.ProseMirror a span {
  text-decoration: underline;
}

.tiptap.ProseMirror s span {
  text-decoration: line-through;
}

.tiptap.ProseMirror u span {
  text-decoration: underline;
}

.tiptap.ProseMirror .tiptap-ai-insertion {
  color: var(--tiptap-ai-insertion-color);
}

.tiptap.ProseMirror .collaboration-carets__caret {
  pointer-events: none;
  word-break: normal;
  border-left: 1px solid #0000;
  border-right: 1px solid #0000;
  margin-left: -1px;
  margin-right: -1px;
  position: relative;
}

.tiptap.ProseMirror .collaboration-carets__label {
  color: var(--tt-collaboration-carets-label);
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  border-radius: .25rem .25rem .25rem 0;
  padding: .125rem .375rem;
  font-size: .75rem;
  font-weight: 600;
  line-height: 1;
  position: absolute;
  top: -1.3em;
  left: -1px;
}

.tiptap.ProseMirror [data-type="emoji"] img {
  cursor: text;
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
}

.tiptap.ProseMirror a {
  color: var(--link-text-color);
  text-decoration: underline;
}

.tiptap.ProseMirror [data-type="mention"] {
  color: var(--tt-brand-color-500);
  display: inline-block;
}

.tiptap.ProseMirror .tiptap-thread.tiptap-thread--unresolved.tiptap-thread--inline {
  color: var(--thread-text);
  border-bottom: 2px dashed var(--tt-color-yellow-base);
  font-weight: 600;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.tiptap.ProseMirror .tiptap-thread.tiptap-thread--unresolved.tiptap-thread--inline.tiptap-thread--selected, .tiptap.ProseMirror .tiptap-thread.tiptap-thread--unresolved.tiptap-thread--inline.tiptap-thread--hovered {
  background-color: var(--thread-bg-color);
  border-bottom-color: #0000;
}

.tiptap.ProseMirror .tiptap-thread.tiptap-thread--unresolved.tiptap-thread--block:has(img) {
  outline: .125rem solid var(--tt-color-yellow-base);
  border-radius: var(--tt-radius-xs, .25rem);
  width: fit-content;
  overflow: hidden;
}

.tiptap.ProseMirror .tiptap-thread.tiptap-thread--unresolved.tiptap-thread--block:has(img).tiptap-thread--selected {
  outline-width: .25rem;
  outline-color: var(--tt-color-yellow-base);
}

.tiptap.ProseMirror .tiptap-thread.tiptap-thread--unresolved.tiptap-thread--block:has(img).tiptap-thread--hovered {
  outline-width: .25rem;
}

.tiptap.ProseMirror .tiptap-thread.tiptap-thread--unresolved.tiptap-thread--block:not(:has(img)) {
  border-bottom: .125rem dashed var(--tt-color-yellow-base);
  border-top: .125rem dashed var(--tt-color-yellow-base);
  border-radius: .25rem;
  outline: .25rem solid #0000;
}

:is(.tiptap.ProseMirror .tiptap-thread.tiptap-thread--unresolved.tiptap-thread--block:not(:has(img)).tiptap-thread--hovered, .tiptap.ProseMirror .tiptap-thread.tiptap-thread--unresolved.tiptap-thread--block:not(:has(img)).tiptap-thread--selected) {
  background-color: var(--tt-color-yellow-base);
  outline-color: var(--tt-color-yellow-base);
}

.tiptap.ProseMirror .tiptap-thread.tiptap-thread--resolved.tiptap-thread--inline.tiptap-thread--selected {
  background-color: var(--tt-color-yellow-base);
  opacity: .5;
  border-color: #0000;
}

.tiptap.ProseMirror .tiptap-thread.tiptap-thread--block:has(.react-renderer) {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.is-empty:not(.with-slash)[data-placeholder]:has( > .ProseMirror-trailingBreak:only-child):before {
  content: attr(data-placeholder);
}

.is-empty.with-slash[data-placeholder]:has( > .ProseMirror-trailingBreak:only-child):before {
  content: "Write, type '/' for commands…";
  font-style: italic;
}

.is-empty[data-placeholder]:has( > .ProseMirror-trailingBreak:only-child):before {
  pointer-events: none;
  width: 100%;
  height: 0;
  text-align: inherit;
  position: absolute;
  left: 0;
  right: 0;
}

.is-empty[data-placeholder]:has( > .ProseMirror-trailingBreak):before {
  color: var(--placeholder-color);
}

.prosemirror-dropcursor-block, .prosemirror-dropcursor-inline {
  cursor: grabbing;
  border-radius: .25rem;
  width: 100%;
  height: .188rem;
  margin-left: -1px;
  margin-right: -1px;
  background: var(--tt-brand-color-400) !important;
}

/*# sourceMappingURL=apps_web_src_features_editor-tiptap_node_0a45715d._.css.map*/